*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-size: 14px;
    --baseline: 18px;

} 

body{
    font-size: var(--font-size);

    --h-header: 60px;
    --unit: 20px;
}


figure, img{
    width: 100px;
}