#header{
    border-bottom: var(--border-layout);
    background-color: var(--background);
    height: var(--h-header);
    padding: var(--padding-small);
    padding-left: var(--padding-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
}