<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>

    {% include header.html %}

    <main id="page-content">
		<header>
			<hgroup>
				<h1>{{ page.title }}</h1>
			</hgroup>
		</header>

        <!-- Contenu : page de droite -->
		<section id="main-content">
			<div class="content">
			{{ content }}
			</div>
		</section>

        <!-- Grille: page de gauche -->
        <section id="fiches">
            <div id="grid-fiche">
                {% for item in site.data.data-efa %}
                  <div id="{{ item.identifiant }}">
                      {{ item.titre }}
                      {{ item.type }}
                      
                  </div>
                {% endfor %}
                </div>
        </section>
	</main> 
    
</body>
</html>