<!DOCTYPE html>
<html lang="fr">
<head>
    {% include head.html %}
</head>
<body data-layout="{{ page.layout }}" id="page-sommaire">

    {% include header.html %}

    <main>
	
        <!-- Contenu : page de droite -->
		<section id="content-text">
        
            <header>

            </header>
    
			<div class="content">
			
            <ul>
                {% for contenus in site.contenus %}{% if contenus.type == "introduction" %}
                <li><a href="{{ contenus.url }}.html">{{ contenus.title }}</a></li>
                {% endif %}{% endfor %}
           
                {% assign chapters = site.contenus | sort: 'order' %}
                {% for contenus in chapters %}
                {% if contenus.type == "chapitre" %}
                <li class="chapter"><a href="{{ contenus.url }}.html"><span>Chapitre {{ contenus.order }}</span> {{ contenus.title }}</a></li>
                {% endif %}
                {% endfor %}

                {% for contenus in site.contenus %}{% if contenus.type == "conclusion" %}
                <li><a href="{{ contenus.url }}.html">{{ contenus.title }}</a></li>
                {% endif %}{% endfor %}

                {% for contenus in site.contenus %}{% if contenus.type == "bibliographie" %}
                <li><a href="{{ contenus.url }}.html">{{ contenus.title }}</a></li>
                {% endif %}{% endfor %}

                {% for contenus in site.contenus %}{% if contenus.layout == "static" %}
                <li class="static"><a href="{{ contenus.url }}.html">{{ contenus.title }}</a></li>
                {% endif %}{% endfor %}


            </ul>

			</div>
		</section>

        <!-- Grille: page de gauche -->
        <section id="grid-cards">

            <nav>

            </nav>


            <div id="grid">
                <!-- {% for item in site.data.data-efa %}
                  <div id="{{ item.identifiant }}">
                      {{ item.titre }}
                      {{ item.type }}
             
                      <img src=" images/{{ item.image }}"/>


                  </div>
                {% endfor %} -->

            </div>
                
        </section>

	</main> 
    
</body>
</html>